* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    
    text-align: center;
    background-image: url("background.jpg");
    /* background: #129e9e; */
    /* margin: auto; */
    position: fixed;
    width: 100%;
    height: 100%;
    

    
}

.body {
   padding: 0%;
   margin: 0px;

  }

.header {
    padding-top: 70px;
    padding-bottom: 70px;
    color: #000000;
    font-size: 25px;
    margin: auto;
    line-height: 50px;

}
.teamso{
    border: 5px solid rgb(0, 0, 0);
    background-color: white;
    width: 300px;
    height: 60px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.2), 0 8px 20px 0 rgba(255, 255, 255, 0.19);
}

.sub-container {
    max-width: 9800px;
    margin: auto;
    padding: 0px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 20px;
    padding: 10px;
    max-width: 80%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    background-color: black;
    border-radius: 5px solid white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

.teams:hover {
    transform: scale(1.1);
		z-index: 2;
}

.teams img {
    margin: 15px;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    box-shadow: -1px 0 10px #000000;
    background-color: #070809;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.desig {
    font-style: italic;
    color: #ffffff;
}

.about {
    margin: 10px 0;
    font-weight: lighter;
    color: #d1e7d6;
}

.social-links {
    margin: 14px;
    color: white;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 40px;
    transition: .4s;
    font-size: 30px;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
}