@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}
body{
  background: #dfe9f5;
}
.container{
  /* width: 300px; */
  display: flex;


}
nav{
  position: relative;
  margin-top: 0;
  padding: 7px;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #02459d;
  width: 100vh;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #ffffff;
  color: black;
  border-radius: 50px;
}
.logout{
  position: absolute;
  bottom: 0;
}
