*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

#abc {
    width: 100%;
    height: 100vh;

}

nav {
    width: 100%;
    height: 50px;
    background-color: #0005;
    line-height: 50px;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

nav ul li:hover {
    background-color: #088;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

body {
    background-image: url('pic3.jpg');
    background-color: #080710;
    background-size: cover;
}

.background {
    width: 200px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#f09819);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient();
    right: -30px;
    bottom: -80px;
}

.logo {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

form {
    height: 450px;
    width: 480px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(124, 120, 162, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #f0dada;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}