body {
    /* background-image: url("../complaints/complaint\ image.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Arial', sans-serif;/ */
    justify-content: center;
    align-items: center;
}

/* Style for the form to make it visually appealing */
form {
    background: #eaeaea;
    margin-top: 30px;
    /* margin-left: 570px; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #02459d;
    width: 100%;
    max-width: 400px;
}

/* Spacing and style for each form section */
div {
    margin-bottom: 15px;
}

#formp{
    display: flex;
    justify-content: center;
    
}



/* Label styling for clarity and readability */
label {
    display: block;
    margin-bottom: 5px;
}

/* Input and textarea styling for a unified and appealing look */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
}

/* Button styling for a noticeable and interactive submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #02459d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
h1{
    font-size: 50px;
    color: #02459d;
    text-align: center;
    margin-top: 80px;;
}

/* Button hover effect for visual feedback */
button:hover {
    background-color: #15ee1c;
}

/* Responsive adjustments for better mobile viewing */
@media (max-width: 768px) {
    body, form {
        width: 90%;
        padding: 10px;
    }
}